{% extends "base_no_search.html" %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <form action={% url 'accounts:login' %} method='POST' onsubmit="handleLogin(event)">
            {% csrf_token %}
            로그인
            <p></p>
            <label for="username">ID</label>
            <input type="text" name="username" id='username'>
            <p></p>
            <label for="password">PW</label>
            <input type="password" name="password" id="password">
            <p></p>
            <button><a href={% url 'accounts:signup_page' %}>회원가입</a></button>
            <button type="submit">로그인</button>
        </form>
    </div>
    <script>
        async function handleLogin(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
    
            const response = await fetch('{% url 'accounts:login' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });
    
            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('access_token', data.access);
                localStorage.setItem('refresh_token', data.refresh);
                window.location.href = "{% url 'test_main_view' %}";
            } else {
                alert('Login failed');
            }
        }
    </script>
{% endblock content %}