<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Login</title>
    <script>
        async function handleLogin(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
    
            const response = await fetch('{% url 'accounts:login' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });
    
            const data = await response.json();
            if (response.ok) {
                localStorage.setItem('access_token', data.access);
                localStorage.setItem('refresh_token', data.refresh);
                window.location.href = "{% url 'test_main_view' %}";
            } else {
                alert('Login failed');
            }
        }
    </script>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <form action={% url 'accounts:login' %} method='POST' onsubmit="handleLogin(event)">
            {% csrf_token %}
            로그인
            <p></p>
            <label for="username">ID</label>
            <input type="text" name="username" id='username'>
            <p></p>
            <label for="password">PW</label>
            <input type="password" name="password" id="password">
            <p></p>
            <button><a href={% url 'accounts:signup_page' %}>회원가입</a></button>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>