<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>검수 페이지</title>
</head>
<body>
    <div>
        <label>첨부 파일</label>
        	<form action="{% url 'games:game_dzip' '4' %}" method="POST">
            {% csrf_token %}
        	<button type="submit">다운로드</button>
    		</form>
    </div>
</body>
</html>