{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="POST" onsubmit="createTag();">
        {% csrf_token %}
        <input id="new_tag_name" type="text" maxlength="20" name="name">
        <button type="submit" class="btn btn-secondary">생성</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">태그</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
            {% for row in tags %}
            <tr class="align-middle">
                <th scope="row">{{row.pk}}</th>
                <td>{{row.name}}</td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="deleteTag({{ row.pk }})">삭제</button>
                {% comment %} <form action="{% url 'games:tags' %}" method="DELETE">
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
    window.onload = async () => {
        const user = await isLogIn();
        if (!user){
            window.location.href = '/'
        }
        if (!user.is_staff){
            window.location.href = '/'
        }
    }
    </script>
<script>
    function createTag() {
        event.preventDefault();
        
        const new_tag = document.getElementById('new_tag_name');
        const access = localStorage.getItem('access_token');
        
        fetch(`{% url 'games:tags' %}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access}`
            },
            body: JSON.stringify({ name: new_tag.value })
        })
        .then(response => response.json())
        .then(data => {
            window.location.reload();  // 페이지 새로고침
        })
        .catch(error => console.error('Error:', error));
    }
    
    function deleteTag(tagId) {
        event.preventDefault();
        
        const access = localStorage.getItem('access_token');
        
        fetch(`{% url 'games:tags' %}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access}`
            },
            body: JSON.stringify({ pk: tagId })
        })
        .then(response => response.json())
        .then(data => {
            window.location.reload();  // 페이지 새로고침
        })
        .catch(error => console.error('Error:', error));
    }
    </script>
{% endblock %}