{% extends "base.html" %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목/유저</th>
            <th scope="col">다운로드</th>
            <th scope="col">생성일</th>
            <th scope="col">승인여부</th>
        </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="align-middle">
                <th scope="row">{{row.pk}}</th>
                <td><a href="" class="btn btn-lin text-dark">{{row.title}} / {{row.maker.username}}</a></td>
                <form action="{% url 'games:game_dzip' row.pk %}" method="POST">
                {% csrf_token %}
                <td><button type="submit"class="btn btn-primary">다운로드</button></td>
                </form>
                <td><span>{{row.updated_at}}</span></td>
                <td class="d-flex">
                <form action="{% url 'games:game_register' row.pk %}" method="POST">
                    <button type="submit" class="btn btn-secondary">승인</button>
                </form>
                <form action="{% url 'games:game_register_deny' row.pk %}" method="POST" class="ms-3">
                    <button type="submit" class="btn btn-danger">거부</button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
    window.onload = async () => {
        const user = await isLogIn();
        if (!user){
            window.location.href = '/'
        }
        if (!user.is_staff){
            window.location.href = '/'
        }
    }
    </script>
{% endblock %}