{% extends "base.html" %} 
{% load static %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'css/star.css' %}">
  <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
{% endblock css_block %}

{% block content %}
<div id='titleContainer' class="d-flex flex-column align-items-center"></div>
    <div class="container">
        <div class='d-flex justify-content-between' style='width:100%;'>
            <div class='d-flex justify-content-around' style='width:50%;'>
                <div id='infoDiv' class='d-flex flex-column'>
                    <span id='starScoreSpan'></span>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">★★★★★</button>
                </div>
                <div id='infoDiv2' class='d-flex flex-column'>
                    <span id='makerNameSpan'></span>
                    <button id='gameLikeBtn' onclick='like();'>즐겨찾기</button>
                </div>
                <div id='infoDiv3' class='d-flex flex-column'>
                    <span id='createdAtSpan'></span>
                </div>
            </div>
            <div id="editDeleteBtn" class="d-flex"></div>
        </div>
    </div>
    <div class="container">
        <div id='containerDiv' class='d-flex flex-column align-items-center justify-content-center'>
            <div id='wrap-vertical' class="scroll-container"></div>
            <br>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div id='carouselContent' class="carousel-inner" style="position: relative; width: 960px; padding-bottom: 56.25%;"></div>
            </div>
        </div>
        <div id='contentDiv' class=''></div>
    </div>
    <div class="container">
        <div>
            <form id='formElement' method='POST' onsubmit="CommentCreate(event);">
                {% csrf_token %}
                <label for="comment">댓글</label>
                <input type="text" id='comment' name='content'>
                <button type="submit">제출</button>
            </form>
            <div id='commentContainerDiv'></div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">별점 선택창</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id='login_modal_body' style='display:none;'>
          <span>별점을 선택해주세요</span>
          <form name="myform" id="myform" method="POST">
            <fieldset class='d-flex justify-content-center'>
                <input type="radio" name="star" value="5" id="rate1"><label for="rate1">⭐</label>
                <input type="radio" name="star" value="4" id="rate2"><label for="rate2">⭐</label>
                <input type="radio" name="star" value="3" id="rate3"><label for="rate3">⭐</label>
                <input type="radio" name="star" value="2" id="rate4"><label for="rate4">⭐</label>
                <input type="radio" name="star" value="1" id="rate5"><label for="rate5">⭐</label>
            </fieldset>
        </form>
        </div>
        <div id='logout_modal_body' style='display:none;'>
          <span>로그인 해주세요</span>
        </div>
      </div>
      <div id='login_modal_footer' style='display:none; justify-content:end;' class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">나가기</button>
        <button type="submit" class="btn btn-primary" onclick='Star(event);'>확인</button>
      </div>
      <div id='logout_modal_footer' style='display:none;' class="modal-footer">
        <a class="btn btn-primary" href='{% url 'accounts:login_page' %}'>로그인페이지로 이동</a>
      </div>
    </div>
  </div>
</div>
<script>
  function getGameId(){
    const path=window.location.pathname;
    const parts =path.split('/');
    return parseInt(parts[3]);
  }

  async function CommentCreate(event) {
    event.preventDefault();  // 폼의 기본 제출 동작을 방지
    {% comment %} if(!user){
      //modal
      return
    } {% endcomment %}

    const form_tag = document.getElementById('formElement');
    const formData = new FormData(form_tag);

    const url = '{% url 'games:comments' game_pk %}'

    try {
        await aSend({
            url: url,
            method: 'POST',
            is_token: true,
            body: formData
        })
        
    } catch (error) {
        console.error('Error:', error);
        return false;
    }
    window.location.href = "{% url 'games:game_test_page' game_pk %}";
}

async function ReplyCreate(event, root_id) {
  event.preventDefault();  // 폼의 기본 제출 동작을 방지
  {% comment %} if(!user){
    //modal
    return
  } {% endcomment %}

  const replyForm=event.target;
  const formData = new FormData(replyForm);
  formData.append('root', root_id);
  const content = formData.get('content');
  if (!content) {
      alert("댓글 내용을 입력하세요.");
      return;
  }
  const url = '{% url 'games:comments' game_pk %}'

  try {
      await aSend({
          url: url,
          method: 'POST',
          is_token: true,
          body: formData
      })
      
  } catch (error) {
      console.error('Error:', error);
      return false;
  }
  window.location.href = "{% url 'games:game_test_page' game_pk %}";
}

async function Star(event) {
  event.preventDefault();  // 폼의 기본 제출 동작을 방지

  const form_tag = document.getElementById('myform');
  const formData = new FormData(form_tag);

  const url = '{% url 'games:game_star' game_pk %}'

  try {
      await aSend({
          url: url,
          method: 'POST',
          is_token: true,
          body: formData
      })
      
  } catch (error) {
      console.error('Error:', error);
      return false;
  }
  window.location.href = "{% url 'games:game_test_page' game_pk %}";
}

async function like() {
  const gameLikeBtn = document.getElementById('gameLikeBtn')
  const game_pk = getGameId();
  const url = '{% url 'games:game_like' 1 %}'.replace('1', game_pk)
  const access = localStorage.getItem('access_token')

  const response = await fetch(url, {
    method: 'POST',
    headers: {
        'X-CSRFToken': '{{ csrf_token }}',
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${access}`
    },
  })

  const data = await response.json()
  if (data.message === '즐겨찾기') {
    gameLikeBtn.innerText = '즐겨찾기 취소'
  } else {
    gameLikeBtn.innerText = '즐겨찾기'
  }

  // window.location.href = "{% url 'games:game_test_page' 1 %}".replace('1', game_pk);
}

  function gameEdit() {
      const game_pk = getGameId();
      window.location.href = "{% url 'games:game_update_page' 1 %}".replace('1', game_pk);
  }
  
  async function gameDelete() {
      const game_pk = getGameId();
      
      const url = '{% url 'games:game_detail' 1 %}'.replace('1', game_pk);
      const access = localStorage.getItem('access_token');

      const resp = await fetch(url, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${access}`
          },
      });
      
      if (resp.status >= 200 && resp.status < 300) {
          window.location.href = "{% url 'test_main_view' %}"
      }
  }
  
  window.addEventListener("load", async function PageLoad() {

    // context로 views.py에서 game_pk를 받아서 사용한다.
    const game_detail_URL = '{% url 'games:game_detail' game_pk %}';
    const comment_URL = '{% url 'games:comments' game_pk %}';

    const game_detail_response = await aSend({
      url: game_detail_URL,
      method: 'GET',
      is_token: false,
    });
    
    const comment_response = await aSend({
      url: comment_URL,
      method: 'GET',
      is_token: false,
    });

    const title = game_detail_response.title;
    const gamepath = game_detail_response.gamepath;
    const star_score = game_detail_response.star_score;
    const maker_name = game_detail_response.maker_name;
    const created_at = game_detail_response.created_at;
    const tag = game_detail_response.tag;
    const screenshot = game_detail_response.screenshot;
    const content = game_detail_response.content;
    const youtube_url = game_detail_response.youtube_url;
    // # 1 ==============title과 iframe=====================
    // const titleContainer = document.createElement('div');
    // titleContainer.className = 'd-flex flex-column align-items-center';
    const titleContainer = document.getElementById('titleContainer');

    const divElement = document.createElement('div');
    divElement.style.position = 'relative';
    divElement.style.width = '53%';
    divElement.style.paddingBottom = '36%';

    const titleElement = document.createElement('h1');
    titleElement.textContent = title;
    
    const iframeElement = document.createElement('iframe');
    iframeElement.style.cssText = 'position: absolute; width: 100%; height: 100%;'
    iframeElement.src = `${gamepath}/index.html`;
    
    // document.body.appendChild(titleContainer);

    titleContainer.appendChild(titleElement);
    titleContainer.appendChild(divElement);
    divElement.appendChild(iframeElement);

    // # 2 ================게임 상세 span==================
    const infoDiv = document.getElementById('infoDiv');

    const starScoreSpan = document.getElementById('starScoreSpan');
    if (star_score == null) {
      starScoreSpan.textContent = `평점: 평점없음`;
    }
    else{
      starScoreSpan.textContent = `평점: ${star_score}`;
    }

    const makerNameSpan = document.getElementById('makerNameSpan');
    makerNameSpan.textContent = `제작자: ${maker_name}`;

    const createdAtSpan = document.getElementById('createdAtSpan');
    createdAtSpan.textContent = `업로드 일시: ${formatTime(created_at)}`;

    // # 2-1 ============== 게임 상세 span - star ================
    const login_modal_body = document.getElementById('login_modal_body');
    const logout_modal_body = document.getElementById('logout_modal_body');
    const login_modal_footer = document.getElementById('login_modal_footer');
    const logout_modal_footer = document.getElementById('logout_modal_footer');

    const user = await isLogIn();
    if (user) {
      login_modal_body.style.display = 'block';
      login_modal_footer.style = 'display: flex; justify-content-end;';
    } else {
      logout_modal_body.style.display = 'block';
      logout_modal_footer.style = 'display: flex; justify-content-end;';
    }
    // # 2-2 ================= 게임 상세 span - like ==============
    const gameLikeBtn = document.getElementById('gameLikeBtn');
    if (user) {
        for (let item of game_detail_response.like) {
            if (item === user.user_pk) {
                gameLikeBtn.innerText = '즐겨찾기 취소'
            } 
        }
    } else {
        // 로그아웃 상태일 경우 즐겨찾기 버튼 클릭 시 로그인 해주세요 모달창 띄우도록 설정
        setModal("gameLikeBtn");
    }

    // # 2-3 ============== 게임 상세 span - tag ===================
    const infoDiv3 = document.getElementById('infoDiv3')

    const tagSpan = document.createElement('span');
    tagSpan.textContent = '태그: ';

    tag.forEach((item, index) => {
      const tagItemSpan = document.createElement('span');
      if (index > 0) {
        tagItemSpan.textContent = `, ${item.name}`;
      } else {
        tagItemSpan.textContent = item.name;
      }
      tagSpan.appendChild(tagItemSpan);
    })

    infoDiv3.appendChild(tagSpan)
      
      // # 3 ============== 게임 상세 - 수정 / 삭제 버튼 ===================
      const gameEditBtn = document.createElement('button');
      const gameDeleteBtn = document.createElement('button');
      
      if (user) {
          if (user.user_pk === game_detail_response.maker) {
              const editDeleteBtn = document.getElementById("editDeleteBtn");
              
              gameEditBtn.setAttribute('id', "gameEditBtn");
              gameDeleteBtn.setAttribute('id', "gameDeleteBtn");
              
              gameEditBtn.setAttribute('class', "mt-3 mb-3 me-2 btn btn btn-info");
              gameDeleteBtn.setAttribute('class', "mt-3 mb-3 me-2 btn btn-danger");
              
              gameEditBtn.setAttribute('onclick', "gameEdit();");
              gameDeleteBtn.setAttribute('onclick', "gameDelete();");
              
              gameEditBtn.innerText = "수정"
              gameDeleteBtn.innerText = "삭제"
              
              editDeleteBtn.appendChild(gameEditBtn);
              editDeleteBtn.appendChild(gameDeleteBtn);
          }
      }
      
    // # 4 ================== video와 screenshot ====================
    // const containerDiv = document.createElement('div');
    // containerDiv.className = 'd-flex align-items-center justify-content-around'
    const carouselButtonDiv = document.getElementById('wrap-vertical');
    const carouselContentDiv = document.getElementById('carouselContent');
    let content_idx = 0

    if (youtube_url) {
      const youtube_button = document.createElement('button')
      youtube_button.setAttribute('type','button')
      youtube_button.setAttribute('data-bs-target','#carouselExampleIndicators')
      youtube_button.setAttribute('data-bs-slide-to',`${content_idx}`)
      youtube_button.setAttribute('class','active')
      youtube_button.setAttribute('aria-current','true')
      youtube_button.setAttribute('aria-label',`Slide ${content_idx + 1}`)
      youtube_button.setAttribute('style','vertical-align:middle; width:300px; height:150px;')

      const youtube_thumbnail = document.createElement('img')
      const youtube_id = youtube_url.split('/')[3].replace('watch?v=','').split('?')[0].split('&')[0]
      const youtube_thumbnail_src = 'https://img.youtube.com/vi/' + youtube_id + '/0.jpg'
      // console.log(youtube_thumbnail_src)
      youtube_thumbnail.setAttribute('src', youtube_thumbnail_src)
      youtube_thumbnail.setAttribute('class','d-block w-100')
      youtube_thumbnail.setAttribute('alt','...')

      youtube_button.appendChild(youtube_thumbnail)
      carouselButtonDiv.appendChild(youtube_button)

      const youtube_div = document.createElement('div')
      youtube_div.setAttribute('class','carousel-item active')
      youtube_div.setAttribute('style','position: absolute; max-width: 100%; height: 100%')

      const youtube_iframe = document.createElement('iframe')
      const youtube_src = 'https://www.youtube.com/embed/' + youtube_id
      console.log(youtube_src)
      youtube_iframe.setAttribute('style','position: absolute; width: 100%; height: 100%')
      youtube_iframe.setAttribute('src',youtube_src)
      youtube_iframe.setAttribute('title','YouTube video player')
      youtube_iframe.setAttribute('frameborder','0')
      youtube_iframe.setAttribute('allow','accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share')
      youtube_iframe.setAttribute('referrerpolicy','strict-origin-when-cross-origin')
      youtube_iframe.setAttribute('allowfullscreen','true')

      youtube_div.appendChild(youtube_iframe)
      carouselContentDiv.appendChild(youtube_div)
      content_idx += 1
    }

    for (item of screenshot) {
      const screenshot_button = document.createElement('button')
      if (content_idx == 0) {
        screenshot_button.setAttribute('class','active')
        screenshot_button.setAttribute('aria-current','true')
      }
      screenshot_button.setAttribute('type','button')
      screenshot_button.setAttribute('data-bs-target','#carouselExampleIndicators')
      screenshot_button.setAttribute('data-bs-slide-to',`${content_idx}`)
      screenshot_button.setAttribute('aria-label',`Slide ${content_idx + 1}`)
      screenshot_button.setAttribute('style',"vertical-align:middle; width:300px; height:150px;")

      const screenshot_button_img = document.createElement('img')
      screenshot_button_img.setAttribute('src',item.src)
      screenshot_button_img.setAttribute('class','d-block w-100')
      screenshot_button_img.setAttribute('alt','...')

      screenshot_button.appendChild(screenshot_button_img)
      carouselButtonDiv.appendChild(screenshot_button)

      const screenshot_div = document.createElement('div')
      if (content_idx == 0) {
        screenshot_div.setAttribute('class','carousel-item active')
      } else {
        screenshot_div.setAttribute('class','carousel-item')
      }
      screenshot_div.setAttribute('style','position: absolute; width: 100%; height: 100%')

      const screenshot_img = document.createElement('img')
      screenshot_img.setAttribute('style','object-fit: contain; object-position: center center;')
      screenshot_img.setAttribute('src',item.src)
      screenshot_img.setAttribute('class','d-block w-100')
      screenshot_img.setAttribute('alt','...')

      screenshot_div.appendChild(screenshot_img)
      carouselContentDiv.appendChild(screenshot_div)
      content_idx += 1
    }

    // # 6 =====================게시글에 달린 댓글========================
    const commentContainerDiv = document.getElementById('commentContainerDiv');
    comment_response.forEach(comment => {
        const containDiv = document.createElement('div');

        const commentDiv = document.createElement('div');
        commentDiv.setAttribute('data-comment-id',comment.id)
        commentDiv.setAttribute("class", "d-flex justify-content-between");
        containDiv.appendChild(commentDiv)

        const profilewidth = 10;
        const replyarrowwidth = 2.5;

        const userDiv = document.createElement('div');
        userDiv.setAttribute("class", "d-flex align-items-center");
        userDiv.setAttribute("style", `width:${profilewidth}%`);

        const profileDiv = document.createElement('a');
        let url_author="{% url 'users:profile_page' 1 %}".replace('1',comment.author);
        profileDiv.setAttribute("href", url_author);
        profileDiv.setAttribute("style","text-decoration:none;");
        profileDiv.setAttribute("class","text-dark");

        const subjectDiv = document.createElement('div');
        subjectDiv.setAttribute("class", "btn d-flex align-items-center justify-content-between");
        subjectDiv.setAttribute("style", `width:${100-profilewidth}%`);

        const contentDiv = document.createElement('div');
        const dateDiv = document.createElement('div');

        commentDiv.appendChild(userDiv);
        commentDiv.appendChild(subjectDiv);
        userDiv.appendChild(profileDiv);
        subjectDiv.appendChild(contentDiv);
        subjectDiv.appendChild(dateDiv);

        const commentImgElement = document.createElement('img');
        if (comment.src) {
            commentImgElement.src = comment.src;
        }
        else {
            commentImgElement.src = '{% static 'image/user.png' %}';
        }
        commentImgElement.style.width = '30px';
        commentImgElement.alt = '';
        profileDiv.appendChild(commentImgElement);

        const authorSpanElement = document.createElement('span');
        authorSpanElement.textContent = `${comment.author_name}`;
        profileDiv.appendChild(authorSpanElement);

        const contentSpanElement = document.createElement('span');
        contentSpanElement.textContent = `${comment.content}`;
        contentSpanElement.setAttribute('class', 'editable-comment-content');
        contentDiv.appendChild(contentSpanElement);

        const commendCreatedAtSpan = document.createElement('span');
        commendCreatedAtSpan.textContent = `${formatTime(comment.created_at)}`;
        dateDiv.appendChild(commendCreatedAtSpan);

        const comment_EditDelete_div= document.createElement('div');
        commentDiv.appendChild(comment_EditDelete_div);
        const commentEditBtn = document.createElement('i');
        const commentDeleteBtn = document.createElement('i');
        if (comment.is_visible){
          if (user) {
              if (user.user_pk === comment.author) {
                  
                  commentEditBtn.setAttribute('id', "commentEditBtn");
                  commentDeleteBtn.setAttribute('id', "commentDeleteBtn");
                  
                  commentEditBtn.setAttribute('onclick', `commentEdit('${comment.id}','${comment.content}');`);
                  commentDeleteBtn.setAttribute('onclick', `commentDelete('${comment.id}');`);
                  
                  commentEditBtn.setAttribute('class', "bi bi-pencil-square btn");
                  commentDeleteBtn.setAttribute('class', "bi bi-x-square btn");
                  
                  commentEditBtn.setAttribute('style', "padding:0; outline:none; border:none;");
                  commentDeleteBtn.setAttribute('style', "padding:0; outline:none; border:none;");
                  
                  comment_EditDelete_div.appendChild(commentEditBtn);
                  comment_EditDelete_div.appendChild(commentDeleteBtn);
              }
          }
        }

        subjectDiv.onclick=function(){
          if(comment.is_visible){
            let existReplyForm=containDiv.querySelector('.replyForm');
            if(existReplyForm) {
                existReplyForm.remove();
            }
            else {
                const replyForm=document.createElement('form');
                replyForm.className = 'replyForm mt-3';
                replyForm.onsubmit=function(e){ReplyCreate(e,comment.id);};

                const replyInput=document.createElement('input');
                replyInput.type = 'text';
                replyInput.name = 'content';
                replyInput.placeholder = '답글을 입력하세요';
                replyInput.setAttribute("class", "me-2")

                const replySubmitButton = document.createElement('button');
                if(user){

                }
                replySubmitButton.type = 'submit';
                replySubmitButton.textContent = '댓글 달기';

                replyForm.appendChild(replyInput);
                replyForm.appendChild(replySubmitButton);

                containDiv.appendChild(replyForm);
            }
          }
        };

        if (comment.replies && comment.replies.length > 0) {
            const replyContainer = document.createElement('div');
            replyContainer.classList.add('replies');
            comment.replies.forEach(reply => {
                const replyDiv = document.createElement('div');
                replyDiv.setAttribute('data-comment-id',reply.id)
                replyDiv.setAttribute("class", "comment d-flex justify-content-between mt-3");

                const replyarrowDiv = document.createElement('div');
                replyarrowDiv.setAttribute("class", "d-flex align-items-center");
                replyarrowDiv.setAttribute("style", `width:${replyarrowwidth}%`);

                const replyuserDiv = document.createElement('div');
                replyuserDiv.setAttribute("class", "d-flex align-items-center");
                replyuserDiv.setAttribute("style", `width:${profilewidth}%`);

                const replysubjectDiv = document.createElement('div');
                replysubjectDiv.setAttribute("class", "d-flex align-items-center justify-content-between");
                replysubjectDiv.setAttribute("style", `width:${100-profilewidth-replyarrowwidth}%`);

                const replyprofileDiv = document.createElement('a');
                let url_reply_author="{% url 'users:profile_page' 1 %}".replace('1',reply.author);
                replyprofileDiv.setAttribute("href", url_reply_author);
                replyprofileDiv.setAttribute("style","text-decoration:none;");
                replyprofileDiv.setAttribute("class","text-dark");

                const replycontentDiv = document.createElement('div');
                const replydateDiv = document.createElement('div');

                replyDiv.appendChild(replyarrowDiv);
                replyDiv.appendChild(replyuserDiv);
                replyDiv.appendChild(replysubjectDiv);
                replyuserDiv.appendChild(replyprofileDiv);
                replysubjectDiv.appendChild(replycontentDiv);
                replysubjectDiv.appendChild(replydateDiv);

                const indentSymbol = document.createElement('span');
                indentSymbol.textContent = '↳'; // 원하는 기호로 변경 가능
                indentSymbol.style.marginLeft = '10px';
                indentSymbol.style.marginRight = '10px';
                replyarrowDiv.appendChild(indentSymbol);

                const replyImgElement = document.createElement('img');
                if (reply.src) {
                    replyImgElement.src = reply.src;
                } else {
                    replyImgElement.src = '{% static 'image/user.png' %}';
                }
                replyImgElement.style.width = '30px';
                replyImgElement.alt = '';
                replyprofileDiv.appendChild(replyImgElement);

                const replyAuthorSpanElement = document.createElement('span');
                replyAuthorSpanElement.textContent = `${reply.author_name}`;
                replyprofileDiv.appendChild(replyAuthorSpanElement);

                const replyContentSpanElement = document.createElement('span');
                replyContentSpanElement.textContent = `${reply.content}`;
                replyContentSpanElement.setAttribute('class', 'editable-comment-content');
                replycontentDiv.appendChild(replyContentSpanElement);

                const replyCreatedAtSpan = document.createElement('span');
                replyCreatedAtSpan.textContent = `${formatTime(reply.created_at)}`;
                replyCreatedAtSpan.style.marginRight = '13px';
                replydateDiv.appendChild(replyCreatedAtSpan);
                
                const reply_EditDelete_div= document.createElement('div');
                replyDiv.appendChild(reply_EditDelete_div)
                const replyEditBtn = document.createElement('i');
                const replyDeleteBtn = document.createElement('i');
                
                if(reply.is_visible){
                  if (user) {
                      if (user.user_pk === reply.author) {
                          
                          replyEditBtn.setAttribute('id', "replyEditBtn");
                          replyDeleteBtn.setAttribute('id', "replyDeleteBtn");
                          
                          replyEditBtn.setAttribute('onclick', `commentEdit('${reply.id}');`);
                          replyDeleteBtn.setAttribute('onclick', `commentDelete('${reply.id}');`);
                          
                          replyEditBtn.setAttribute('class', "bi bi-pencil-square btn");
                          replyDeleteBtn.setAttribute('class', "bi bi-x-square btn");
                  
                          replyEditBtn.setAttribute('style', "padding:0; outline:none; border:none;");
                          replyDeleteBtn.setAttribute('style', "padding:0; outline:none; border:none;");
                          
                          reply_EditDelete_div.appendChild(replyEditBtn);
                          reply_EditDelete_div.appendChild(replyDeleteBtn);
                      }
                  }
                }

                replyContainer.appendChild(replyDiv);
            });
            containDiv.appendChild(replyContainer);
        }
        commentContainerDiv.appendChild(containDiv);
        const commentLineBreak = document.createElement('hr');
        commentContainerDiv.appendChild(commentLineBreak);
    });
});
    async function commentDelete(commentId){
      const comment_URL = '{% url 'games:comment_detail' 1 %}'.replace('1',commentId);
      const access=localStorage.getItem('access_token');

      try {
          const response = await fetch(comment_URL, {
              method: 'DELETE',
              headers: {
                  'Content-Type': 'application/json',
                  'Authorization': `Bearer ${access}`,
                  'X-CSRFToken': '{{ csrf_token }}'
              },
          });

          if (response.ok) {
            window.location.reload();
          } else {
              console.error('Failed to delete comment');
          }
      } catch (error) {
          console.error('Error:', error);
      }
    }

    async function commentEdit(commentId){
      const replyContentSpans = document.querySelector(`div[data-comment-id="${commentId}"] .editable-comment-content`);
      const newContent = prompt("수정할 댓글 내용:",replyContentSpans.textContent);
      if(newContent!==null&& newContent!==replyContentSpans.textContent){
        const reply_URL = '{% url 'games:comment_detail' 1 %}'.replace('1',commentId);
        const access=localStorage.getItem('access_token');

        try {
          const response = await fetch(reply_URL, {
              method: 'PUT',
              headers: {
                  'Content-Type': 'application/json',
                  'Authorization': `Bearer ${access}`,
                  'X-CSRFToken': '{{ csrf_token }}'
              },
              body: JSON.stringify({ content: newContent })
          });

          if (response.ok) {
            window.location.reload();
          } else {
              console.error('Failed to update comment');
          }
        } catch (error) {
          console.error('Error:', error);
        }
      }
    }
</script>
{% endblock content %}
