{% extends 'base.html' %}

{% block css_block %}
<style>
    #selectedThumbnail img {
    max-width: 200px; /* 이미지의 최대 너비를 지정합니다. */
    max-height: 200px; /* 이미지의 최대 높이를 지정합니다. */
    /* 다른 스타일을 추가할 수 있습니다. */
}
    #selectedScreenshots img {
    max-width: 200px; /* 이미지의 최대 너비를 지정합니다. */
    max-height: 200px; /* 이미지의 최대 높이를 지정합니다. */
    /* 다른 스타일을 추가할 수 있습니다. */
}
</style>
{% endblock css_block %}

{% block content %}
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <div>
            <form method="POST" enctype="multipart/form-data" id="game_update_form" onsubmit="gameUpdate(event);">
                {% csrf_token %}
                <div class="mb-1">
                    <label for="id_title">제목: </label>
                    <input type="text" name="title" maxlength="50" required="" id="id_title">
                </div>
                <div>
                    <label for="id_content">게임 설명: </label>
                    <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>
                </div>
                <div>
                    <label for="id_youtube_url">유튜브 링크: </label>
                    <input type="text" name="youtube_url" maxlength="255" id="id_youtube_url">
                </div>
                <div>
                    <label for="id_thumbnail">썸네일: <span class="btn btn-secondary btn-sm mb-1 mt-1" >파일 선택</span></label>
                    <input type="file" name="thumbnail" accept="image/*" id="id_thumbnail" alt="..." style="display: none" onchange="previewThumbnail()">
                    <div id="selectedThumbnail"></div>
                </div>
                <div>
                    <label for="id_screenshots">스크린샷: <span class="btn btn-secondary btn-sm mb-1">파일 선택</span></label>
                    <input type="file" name="screenshots" accept="image/*" id="id_screenshots" alt="..." multiple onchange="previewScreenshots()" style="display: none">
                    <div id="selectedScreenshots"></div>
                </div>
                <div>
                    <label for="id_gamefile">게임 파일: <span class="btn btn-secondary btn-sm mb-1">파일 선택</span></label>
                    <input type="file" name="gamefile" accept="application/zip" id="id_gamefile" style="display: none">
                </div>
                <div>
                    <label for="id_tag">태그: </label>
                    <select id="itemSelect"></select>
                    <button type="button" onclick="addItem()" class="btn btn-secondary btn-sm">추가</button>
                    <button type ='button' onclick="tagRecommend()" class="btn btn-secondary btn-sm">태그 자동 추천</button>
                    <div id="selectedItems"></div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button  type="submit" class="btn btn-primary">수정 완료</button>
                </div>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-1">
                <a class="btn btn-secondary" href="javascript:history.back()">수정 취소</a>
            </div>
        </div>
    </div>
    
    <script>
    window.onload = async () => {
        const user = await isLogIn();
        if (!user){
            window.location.href = '/'
        }
    }
    </script>
    <script>
        function getGameId(){
            const path=window.location.pathname;
            const parts =path.split('/');
            return parseInt(parts[3]);
        }

        function previewScreenshots() {
            const screenshots_input = document.getElementById('id_screenshots');
            const selected_screenshots = document.getElementById('selectedScreenshots');
            
            for (const file of screenshots_input.files) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.onclick = function() {
                        selected_screenshots.removeChild(img);
                    };
                    selected_screenshots.appendChild(img);
                };
                reader.readAsDataURL(file);
            }
        }

        function previewThumbnail() {
            const thumbnail_input = document.getElementById('id_thumbnail');
            const selected_thumbnail = document.getElementById('selectedThumbnail');
            const existingThumbnail = selected_thumbnail.querySelector('img');

            if (existingThumbnail) {
                selected_thumbnail.removeChild(existingThumbnail)
            }

            for (const file of thumbnail_input.files) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.onclick = function() {
                        selected_thumbnail.removeChild(img);
                    };
                    selected_thumbnail.appendChild(img);
                };
                reader.readAsDataURL(file);
            }            
        }

        async function loadGameDetails(){
            const user = await isLogIn();
            const game_pk = getGameId();
            const game_detail_url = '{% url 'games:game_detail' game_pk %}';
            const tag_url='{% url 'games:tags' %}'
            try {
                const game_detail_response = await aSend({
                    url: game_detail_url,
                    method: 'GET',
                    is_token: false,
                });
                if (game_detail_response.maker !== user.user_pk){
                    window.location.href = '/'
                }
                const title = game_detail_response.title;
                const content = game_detail_response.content;
                const youtube_url =game_detail_response.youtube_url;
                
                document.getElementById('id_title').value = title;
                document.getElementById('id_content').value = content;
                document.getElementById('id_youtube_url').value = youtube_url;

                const items_div = document.getElementById("selectedItems");
                if (game_detail_response.tag){
                    items_div.innerHTML = ``;
                    game_detail_response.tag.forEach(tag=>{
                        const new_item = document.createElement("div");
                        new_item.classList.add("selected-item");
                        new_item.textContent = tag.name;
                        new_item.onclick = function() {
                            items_div.removeChild(new_item);
                        };
                        items_div.appendChild(new_item);
                    })
                }
                
                const thumbnail_div = document.getElementById('selectedThumbnail')
                if (game_detail_response.thumbnail) {
                    thumbnail_div.innerHTML = ``;
                    const img = document.createElement('img');
                    img.src = game_detail_response.thumbnail;
                    img.onclick = function() {
                        thumbnail_div.removeChild(img);
                    };
                    thumbnail_div.appendChild(img);
                }

                const screenshots_div = document.getElementById("selectedScreenshots");
                if (game_detail_response.screenshot) {
                    screenshots_div.innerHTML = ``;
                    game_detail_response.screenshot.forEach(screenshotUrl => {
                        const img = document.createElement('img');
                        img.src = screenshotUrl.src;
                        img.onclick = function() {
                            screenshots_div.removeChild(img);
                        };
                        screenshots_div.appendChild(img);
                    });
                }
                
                const tag_response = await aSend({
                    url: tag_url,
                    method: 'GET',
                    is_token: false,
                });
                const tag_list = document.getElementById('itemSelect');
                tag_list.innerHTML = ``;
                tag_response.forEach(tag=>{
                    const opt= document.createElement('option');
                    opt.value=tag.name;
                    opt.innerHTML=`${tag.name}`;
                    tag_list.appendChild(opt);
                })
            } catch (error) { 
                console.error('Failed to load game details:', error);
            }
        }
        async function gameUpdate(event) {
            event.preventDefault();  // 폼의 기본 제출 동작을 방지
            
            const game_pk = getGameId();
            const form_tag = document.getElementById('game_update_form');
            const form_data = new FormData(form_tag);
            
            const selected_items = document.querySelectorAll("#selectedItems .selected-item");
            let tagstring = '';
            selected_items.forEach((item, index) => {
                tagstring = tagstring + ',' + item.textContent
            });
            tagstring = tagstring.substr(1)
            form_data.append('tag', tagstring);
            
            await addThumbnailToFormData(form_data);
            await addScreenshotsToFormData(form_data);
            const url = '{% url 'games:game_detail' game_pk %}'

            try {
                await aSend({
                    url: url,
                    method: 'PUT',
                    is_token: true,
                    body: form_data
                })
            } catch (error) {
                console.error('Error:', error);
                return false;
            }

            window.location.href = '{% url 'games:game_detail_page' game_pk %}';
        }
        
        window.addEventListener('load', function() {
            loadGameDetails();// 페이지 로드 시 게임 상세 정보를 로드
        });

        async function addThumbnailToFormData(form_data) {
            const thumbnail_div = document.getElementById('selectedThumbnail');
            const image = thumbnail_div.querySelector('img');

            form_data.delete('thumbnail')
            if (image) {
                const image_url = image.src;
                const response = await fetch(image_url);
                const blob = await response.blob();
                form_data.append('thumbnail', blob, 'thumbnail.png');
            }
            return form_data;
        }

        async function addScreenshotsToFormData(form_data) {
            const screenshots_div = document.getElementById('selectedScreenshots');
            const images = screenshots_div.querySelectorAll('img');
            form_data.delete("screenshots")
            for (const img of images) {
                const image_url = img.src;
                const response = await fetch(image_url);
                const blob = await response.blob();
                form_data.append('screenshots', blob, 'screenshot.png');
            }
            return form_data;
        }
    </script>
    <script>
        function addItem() {
            const select = document.getElementById("itemSelect");
            let selectedValue = select.value;
            let selectedText = select.options[select.selectedIndex].text;
        
            if (selectedValue !== "") {
                const items_div = document.getElementById("selectedItems");
                if(!isDuplicate(selectedText)){
                    const new_item = document.createElement("div");
                    new_item.classList.add("selected-item");
                    new_item.textContent = selectedText;
                    new_item.onclick = function() {
                        items_div.removeChild(new_item);
                    };
                    items_div.appendChild(new_item);
                } else{
                    alert("중복 태그는 사용할 수 없습니다.")
                }
            }
        }

        async function tagRecommend() {
            const id_title = document.getElementById('id_title');
            const id_content = document.getElementById('id_content');
            const id_title_value = id_title.value;
            const id_content_value = id_content.value;
            const ai_input_data = '제목: ' + id_title_value + ', ' + '게임 설명: '+ id_content_value
            // 제목: id_title_value, 게임 설명: id_content_value
            
            if (id_title_value && id_content_value) {
                const url = '{% url 'games:chatbot' %}'
                const access = localStorage.getItem('access_token');
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${access}`,
                    },
                    body: JSON.stringify({ input_data: ai_input_data })
                })
                
                const data = await response.json();
                if (!isDuplicate(data.tag)){
                    if (data.tag==='없음'){
                        alert('추천하는 태그가 없습니다.')
                    } else {
                        const select = document.getElementById("itemSelect");
                        const items_div = document.getElementById("selectedItems");
                        const new_item = document.createElement("div");
                        new_item.classList.add("selected-item");
                        new_item.textContent = data.tag;
                        new_item.onclick = function() {
                            items_div.removeChild(new_item);
                        };
                        items_div.appendChild(new_item);
                    }
                } else {
                    alert('중복 태그는 사용할 수 없습니다.')
                }
            } else {
                alert('제목과 게임 설명을 적어주세요.')
            }
            
        }

        function isDuplicate(text) {
            let items = document.querySelectorAll("#selectedItems .selected-item");
            for (let i = 0; i < items.length; i++) {
                if (items[i].textContent === text) {
                    return true;
                }
            }
            return false;
        }
    </script>
{% endblock %}
