{% extends 'base.html' %}

{% block content %}
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <div>
            <form method="POST" enctype="multipart/form-data" id="game_create_form" onsubmit="GameCreate(event);">
                {% csrf_token %}
                <div>
                    <label for="id_title">제목: </label>
                    <input type="text" name="title" maxlength="50" required="" id="id_title">
                </div>
                <div>
                    <label for="id_content">게임 설명: </label>
                    <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>
                </div>
                <div>
                    <label for="id_youtube_url">유튜브 링크: </label>
                    <input type="text" name="youtube_url" maxlength="255" id="id_youtube_url">
                </div>
                <div>
                    <label for="id_thumbnail">썸네일: </label>
                    <input type="file" name="thumbnail" accept="image/*" id="id_thumbnail" alt="...">
                </div>
                <div>
                    <label for="id_screenshots">스크린샷: <span class="btn btn-secondary">파일 선택</span></label>
                    <input type="file" name="screenshots" accept="image/*" id="id_screenshots" alt="..." style="display: none" onchange="previewScreenshots()" multiple>
                    <div id="selectedScreenshots"></div>
                </div>
                <div>
                    <label for="id_gamefile">게임 파일: </label>
                    <input type="file" name="gamefile" required="" accept="application/zip" id="id_gamefile">
                </div>
                <div>
                    <label for="id_tag">태그: </label>
                    <select id="itemSelect"></select>
                    <button type="button" onclick="addItem()">추가</button>
                    <button type ='button' onclick="tagRecommend()">태그 자동 추천</button>
                    <div id="selectedItems"></div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button  type="submit" class="btn btn-primary">완료</button>
                </div>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-secondary" href={% url 'test_main_view' %}>등록 취소</a>
            </div>
        </div>
    </div>
    <script>
    window.onload = async () => {
        const user = await isLogIn();
        if (!user){
            window.location.href = '/'
        }
    }
    </script>
    <script>
        async function GameCreate(event) {
            event.preventDefault();  // 폼의 기본 제출 동작을 방지
            
            const form_tag = document.getElementById('game_create_form');
            const formData = new FormData(form_tag);
            const selectedItems = document.querySelectorAll("#selectedItems .selected-item");
            let tagstring = '';
            selectedItems.forEach((item, index) => {
                tagstring = tagstring + ',' + item.textContent
            });
            tagstring = tagstring.substr(1)
            formData.append('tag', tagstring);
            await addScreenshotsToFormData(formData);

            const url = '{% url 'games:game_list' %}'

            try {
                await aSend({
                    url: url,
                    method: 'POST',
                    is_token: true,
                    body: formData
                })
            } catch (error) {
                console.error('Error:', error);
                return false;
            }
            window.location.href = "{% url 'test_main_view' %}";
        }
    </script>
    <script>
        function addItem() {
            const select = document.getElementById("itemSelect");
            let selectedValue = select.value;
            let selectedText = select.options[select.selectedIndex].text;
        
            if (selectedValue !== "") {
                const itemsDiv = document.getElementById("selectedItems");
                if(!isDuplicate(selectedText)){
                    const newItem = document.createElement("div");
                    newItem.classList.add("selected-item");
                    newItem.textContent = selectedText;
                    newItem.onclick = function() {
                        itemsDiv.removeChild(newItem);
                    };
                    itemsDiv.appendChild(newItem);
                } else{
                    alert("중복 태그는 사용할 수 없습니다.")
                }
            }
        }

        async function tagRecommend() {
            const idTitle = document.getElementById('id_title');
            const idContent = document.getElementById('id_content');
            const idTitleValue = idTitle.value;
            const idContentValue = idContent.value;
            const aiInputData = '제목: ' + idTitleValue + ', ' + '게임 설명: '+ idContentValue
            // 제목: idTitleValue, 게임 설명: idContentValue
            
            if (idTitleValue && idContentValue) {
                const url = '{% url 'games:chatbot' %}'
                const access = localStorage.getItem('access_token');
                /*const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${access}`,
                    },
                    body: JSON.stringify({ input_data: aiInputData })
                })*/
                
                const data = await response.json();
                if (!isDuplicate(data.tag)){
                    if (data.tag==='없음'){
                        alert('추천하는 태그가 없습니다.')
                    } else {
                        const select = document.getElementById("itemSelect");
                        const itemsDiv = document.getElementById("selectedItems");
                        const newItem = document.createElement("div");
                        newItem.classList.add("selected-item");
                        newItem.textContent = data.tag;
                        newItem.onclick = function() {
                            itemsDiv.removeChild(newItem);
                        };
                        itemsDiv.appendChild(newItem);
                    }
                } else {
                    alert('중복 태그는 사용할 수 없습니다.')
                }
            } else {
                alert('제목과 게임 설명을 적어주세요.')
            }
            
        }

        function isDuplicate(text) {
            let items = document.querySelectorAll("#selectedItems .selected-item");
            for (let i = 0; i < items.length; i++) {
                if (items[i].textContent === text) {
                    return true;
                }
            }
            return false;
        }
        
        function previewScreenshots() {
            const screenshotsInput = document.getElementById('id_screenshots');
            const selectedScreenshots = document.getElementById('selectedScreenshots');
            {#selectedScreenshots.innerHTML = '';#}
            
            for (const file of screenshotsInput.files) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.classList.add('screenshot-preview');
                    img.onclick = function() {
                        removeScreenshot(img, file);
                    };
                    selectedScreenshots.appendChild(img);
                };
                reader.readAsDataURL(file);
            }
        }
        
        async function addScreenshotsToFormData(formData) {
            const screenshotsDiv = document.getElementById('selectedScreenshots');
            const images = screenshotsDiv.querySelectorAll('img');
            formData.delete("screenshots")
            for (const img of images) {
                const imageUrl = img.src;
                const response = await fetch(imageUrl);
                const blob = await response.blob();
                formData.append('screenshots', blob, 'screenshot.png');
            }
            return formData;
        }
        
        function removeScreenshot(imgElement, file) {
            const selectedScreenshots = document.getElementById('selectedScreenshots');
            selectedScreenshots.removeChild(imgElement);
        
            // Update screenshots input files
            const screenshotsInput = document.getElementById('id_screenshots');
            const filesArray = Array.from(screenshotsInput.files);
            const updatedFilesArray = filesArray.filter(f => f !== file);
        
            // Create new FileList object
            const dataTransfer = new DataTransfer();
            updatedFilesArray.forEach(f => dataTransfer.items.add(f));
            screenshotsInput.files = dataTransfer.files;
        }
        
        window.addEventListener('load', async function() {
            const tag_url='{% url 'games:tags' %}'
            const tag_response = await aSend({
                url: tag_url,
                method: 'GET',
                is_token: false,
            });
            const tag_list = document.getElementById('itemSelect');
            tag_list.innerHTML = ``;
            tag_response.forEach(tag=>{
                const opt= document.createElement('option');
                opt.value=tag.name;
                opt.innerHTML=`${tag.name}`;
                tag_list.appendChild(opt);
            })
        });
    </script>
{% endblock %}
