{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex">
    <div class="collapse" id="side">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
                <span class="fs-2">태그 목록</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" id="tags_list">
                <li class="nav-item fs-4">
                <a href="{% url "search_view" %}" class="nav-link link-body-emphasis">
                    전체보기
                </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content container" id="mainContent">
        <div style="position:relative; right:15px">
            <nav class="navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#side" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
        <div>
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group" role="group" aria-label="Sort radio toggle button group" style="position:relative; right:15px;">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked onclick="updateOrder('new')">
                        <label class="btn btn-outline-secondary btn-sm" for="btnradio1">최신순</label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onclick="updateOrder('star')">
                        <label class="btn btn-outline-secondary btn-sm" for="btnradio2">평점순</label>
                        
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onclick="updateOrder('view')">
                        <label class="btn btn-outline-secondary btn-sm" for="btnradio3">조회순</label>
                    </div>
                    <div style="position:relative; right:157px;">
                        <h3 id=tagtitle style="position:relative; top:4px;"></h3>
                    </div>
                    <div></div>
                </div>
                <br>
                <div class="row row-cols-1 row-cols-md-4 g-4" id="game_list">
                </div>
                <br>
                <br>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" id="pagination">
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
    <script>
        document.querySelector('.navbar-toggler').addEventListener('click', function() {
            document.body.classList.toggle('sidebar-shown');
        });
        window.addEventListener("load", async function() {
            await updateOrder();
            const tags_anchor = document.getElementById("tags_list")
            const tag_url='{% url 'games:tags' %}'
            const tag_response = await aSend({
                url: tag_url,
                method: 'GET',
                is_token: false,
            });

            tag_response.forEach(t=>{
                const tag_li=document.createElement("li");
                tag_li.className ="nav-item";
                const tag_a=document.createElement("a");
                tag_a.className = "nav-link link-body-emphasis fs-4";
                tag_a.innerText = t.name;
                tag_a.href = "{% url 'search_view' %}" + `?tag-q=${t.name}`;
                tags_anchor.appendChild(tag_li)
                tag_li.appendChild(tag_a)
            });
        });
        async function updateOrder(order='new', page=1){
            const params = new URLSearchParams(decodeURIComponent(window.location.search));
            if (order) {
                params.set('order', order);
            }
            params.set('page', page);  // 페이지 번호 추가
            params.set('search', 'search');  // 서치구분 추가
            
            const tag_q = params.get('tag-q');
            const game_q = params.get('game-q');
            const maker_q = params.get('maker-q');
            const gm_q = params.get('gm-q');

            let displayTitle = "전체게임"; // Default title
            if (tag_q) {
                displayTitle = `태그 : ${tag_q}`;
            } else if (game_q) {
                displayTitle = `게임명 : ${game_q}`;
            } else if (maker_q) {
                displayTitle = `작성자 : ${maker_q}`;
            } else if (gm_q) {
                displayTitle = `게임명+작성자 : ${gm_q}`;
            }
            const  tagtitle= document.getElementById('tagtitle');
            tagtitle.textContent=displayTitle;

            const url = '{% url 'games:game_list' %}?' + params.toString();

            const test_r = await aSend({
                url: url,
                method: 'GET',
                is_token: false
            });
            
            const game_list_div = document.getElementById('game_list');
            game_list_div.innerHTML = '';
            
            for (let row of test_r.results) {
                const card_col = document.createElement('div');
                card_col.setAttribute("class", "col");
                
                const card_div = document.createElement('div');
                card_div.setAttribute("class", "card");
                card_div.setAttribute("style", "width: 18rem;");

                const card_img = document.createElement('img');
                card_img.setAttribute("class", "card-img-top");
                card_img.setAttribute("width", "100%");
                card_img.setAttribute("height", "180");
                if (!row.thumbnail) {
                    card_img.setAttribute("src", "{% static 'image/image_cap.svg' %}");
                } else {
                    card_img.setAttribute("src", row.thumbnail);
                }

                const card_body_div = document.createElement('div');
                card_body_div.setAttribute("class", "card-body");
                // card_body_div.setAttribute("class", "card-img-overlay");

                const card_title = document.createElement('h5');
                card_title.setAttribute("class", "card-title");
                card_title.textContent = row.title;

                let star = row.star;

                if (star == null) {
                    star = "평점없음";
                }

                const card_content_maker = document.createElement('p');
                card_content_maker.setAttribute("class", "card-text");
                card_content_maker.innerHTML = `제작자: ${row.maker_name}`;
                
                const card_maker_a=document.createElement('a');
                let url_maker="{% url 'users:profile_page' 1 %}".replace('1',row.maker);
                card_maker_a.setAttribute("href", url_maker);
                card_maker_a.setAttribute("style","text-decoration:none;");
                card_maker_a.setAttribute("class","text-dark");
                card_maker_a.appendChild(card_content_maker);

                const card_content_star = document.createElement('p');
                card_content_star.setAttribute("class", "card-text");
                card_content_star.innerHTML = `평점: ${star}`;

                const card_content = document.createElement('p');
                card_content.appendChild(card_maker_a);
                card_content.appendChild(card_content_star);

                if(order=="view"){
                    const card_cnt=document.createElement("p");
                    card_cnt.setAttribute("class", "card-text");
                    card_cnt.innerHTML = `조회수: ${row.view_cnt}`;
                    card_content.appendChild(card_cnt);
                }

                const game_detail_page_url = '{% url 'games:game_detail_page' 1 %}'; // 여기서 1은 임시 값입니다.
                const card_a = document.createElement('a');
                card_a.setAttribute("href", game_detail_page_url.replace('1', row.pk));

                card_body_div.appendChild(card_title);
                card_body_div.appendChild(card_content);
                card_div.appendChild(card_a)
                card_a.appendChild(card_img);
                card_div.appendChild(card_body_div);
                card_col.appendChild(card_div);
                game_list_div.appendChild(card_col);
            }

            // 페이지네이션 업데이트
            const pagination_div = document.getElementById('pagination');
            pagination_div.innerHTML = '';
            const current_page = page;
            const page_size = {{ request.GET.page_size|default:20 }};
            const total_pages = Math.ceil(test_r.count / page_size); // 총 페이지 수 계산
            
            // Previous 버튼 생성
            const prev_li = document.createElement('li');
            prev_li.setAttribute('class', 'page-item');
            const prev_a = document.createElement('a');
            prev_a.setAttribute('class', 'page-link' + (current_page === 1 ? ' disabled' : ''));
            prev_a.setAttribute('href', '#');
            prev_a.setAttribute('aria-label', 'Previous');
            prev_a.innerHTML = '<span aria-hidden="true">&laquo;</span>';
            if (current_page !== 1) {
                prev_a.onclick = (e) => {
                    e.preventDefault();
                    updateOrder(order, current_page - 1);
                };
            }
            prev_li.appendChild(prev_a);
            pagination_div.appendChild(prev_li);
            
            for (let i = 1; i <= total_pages; i++) {
                const page_li = document.createElement('li');
                page_li.setAttribute('class', 'page-item' + (i === current_page ? ' active' : ''));
                const page_a = document.createElement('a');
                page_a.setAttribute('class', 'page-link');
                page_a.setAttribute('href', '#');
                page_a.innerText = i;
                page_a.onclick = (e) => {
                    e.preventDefault();
                    updateOrder(order, i);
                };
                page_li.appendChild(page_a);
                pagination_div.appendChild(page_li);
            }
            
            // Next 버튼 생성
            const next_li = document.createElement('li');
            next_li.setAttribute('class', 'page-item');
            const next_a = document.createElement('a');
            next_a.setAttribute('class', 'page-link' + (current_page === total_pages ? ' disabled' : ''));
            next_a.setAttribute('href', '#');
            next_a.setAttribute('aria-label', 'Next');
            next_a.innerHTML = '<span aria-hidden="true">&raquo;</span>';
            if (current_page !== total_pages) {
                next_a.onclick = (e) => {
                    e.preventDefault();
                    updateOrder(order, current_page + 1);
                };
            }
            next_li.appendChild(next_a);
            pagination_div.appendChild(next_li);
        }
    </script>
{% endblock %}