{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div style="position:relative; right:15px;">
                <button type="button" onclick="updateOrder('new')">최신순</button>
                <button type="button" onclick="updateOrder('star')">평점순</button>
                <button type="button" onclick="updateOrder('view')">조회순</button>
            </div>
            <div style="position:relative; right:157px;">
                <h3 id=tagtitle style="position:relative; top:4px;"></h3>
            </div>
            <div></div>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-flex row row-cols-1 row-cols-md-4 g-4" id="game_list">
        </div>
        <br>
        <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="pagination">
            </ul>
        </nav>
    </div>
    <script>
        window.addEventListener("load", function() {
            updateOrder();
        });
        async function updateOrder(order='new', page=1){
            const params = new URLSearchParams(decodeURIComponent(window.location.search));
            if (order) {
                params.set('order', order);
            }
            params.set('page', page);  // 페이지 번호 추가
            params.set('search', 'search');  // 서치구분 추가
            
            const tag_q = params.get('tag-q');
            const game_q = params.get('game-q');
            const maker_q = params.get('maker-q');
            const gm_q = params.get('gm-q');

            let displayTitle = "전체게임"; // Default title
            if (tag_q) {
                displayTitle = tag_q;
            } else if (game_q) {
                displayTitle = `${game_q}`;
            } else if (maker_q) {
                displayTitle = `${maker_q}`;
            } else if (gm_q) {
                displayTitle = `${gm_q}`;
            }
            const  tagtitle= document.getElementById('tagtitle');
            tagtitle.textContent=displayTitle;

            const url = '{% url 'games:game_list' %}?' + params.toString();

            const test_r = await aSend({
                url: url,
                method: 'GET',
                is_token: false
            });
            
            const game_list_div = document.getElementById('game_list');
            game_list_div.innerHTML = '';
            
            for (let row of test_r.results) {
                const card_div = document.createElement('div');
                card_div.setAttribute("class", "card");
                card_div.setAttribute("style", "width: 18rem;");

                const card_img = document.createElement('img');
                card_img.setAttribute("class", "card-img-top");
                card_img.setAttribute("width", "100%");
                card_img.setAttribute("height", "180");
                if (!row.thumbnail) {
                    card_img.setAttribute("src", "{% static 'image/image_cap.svg' %}");
                } else {
                    card_img.setAttribute("src", row.thumbnail);
                }

                const card_body_div = document.createElement('div');
                card_body_div.setAttribute("class", "card-body");
                // card_body_div.setAttribute("class", "card-img-overlay");

                const card_title = document.createElement('h5');
                card_title.setAttribute("class", "card-title");
                card_title.textContent = row.title;

                let star = row.star;

                if (star == null) {
                    star = "평점없음";
                }

                const card_content_maker = document.createElement('p');
                card_content_maker.setAttribute("class", "card-text");
                card_content_maker.innerHTML = `제작자: ${row.maker_name}`;
                
                const card_maker_a=document.createElement('a');
                let url_maker="{% url 'users:profile_page' 1 %}".replace('1',row.maker);
                card_maker_a.setAttribute("href", url_maker);
                card_maker_a.setAttribute("style","text-decoration:none;");
                card_maker_a.setAttribute("class","text-dark");
                card_maker_a.appendChild(card_content_maker);

                const card_content_star = document.createElement('p');
                card_content_star.setAttribute("class", "card-text");
                card_content_star.innerHTML = `평점: ${star}`;

                const card_content = document.createElement('p');
                card_content.appendChild(card_maker_a);
                card_content.appendChild(card_content_star);

                const game_test_page_url = '{% url 'games:game_test_page' 1 %}'; // 여기서 1은 임시 값입니다.
                const card_a = document.createElement('a');
                card_a.setAttribute("href", game_test_page_url.replace('1', row.pk));

                card_body_div.appendChild(card_title);
                card_body_div.appendChild(card_content);
                card_div.appendChild(card_a)
                card_a.appendChild(card_img);
                card_div.appendChild(card_body_div);
                game_list_div.appendChild(card_div);
            }

            // 페이지네이션 업데이트
            const pagination_div = document.getElementById('pagination');
            pagination_div.innerHTML = '';
            const currentPage = page;
            const pageSize = {{ request.GET.page_size|default:20 }};
            const totalPages = Math.ceil(test_r.count / pageSize); // 총 페이지 수 계산
            
            // Previous 버튼 생성
            const prevLi = document.createElement('li');
            prevLi.setAttribute('class', 'page-item');
            const prevA = document.createElement('a');
            prevA.setAttribute('class', 'page-link' + (currentPage === 1 ? ' disabled' : ''));
            prevA.setAttribute('href', '#');
            prevA.setAttribute('aria-label', 'Previous');
            prevA.innerHTML = '<span aria-hidden="true">&laquo;</span>';
            if (currentPage !== 1) {
                prevA.onclick = (e) => {
                    e.preventDefault();
                    updateOrder(order, currentPage - 1);
                };
            }
            prevLi.appendChild(prevA);
            pagination_div.appendChild(prevLi);
            
            for (let i = 1; i <= totalPages; i++) {
                const pageLi = document.createElement('li');
                pageLi.setAttribute('class', 'page-item' + (i === currentPage ? ' active' : ''));
                const pageA = document.createElement('a');
                pageA.setAttribute('class', 'page-link');
                pageA.setAttribute('href', '#');
                pageA.innerText = i;
                pageA.onclick = (e) => {
                    e.preventDefault();
                    updateOrder(order, i);
                };
                pageLi.appendChild(pageA);
                pagination_div.appendChild(pageLi);
            }
            
            // Next 버튼 생성
            const nextLi = document.createElement('li');
            nextLi.setAttribute('class', 'page-item');
            const nextA = document.createElement('a');
            nextA.setAttribute('class', 'page-link' + (currentPage === totalPages ? ' disabled' : ''));
            nextA.setAttribute('href', '#');
            nextA.setAttribute('aria-label', 'Next');
            nextA.innerHTML = '<span aria-hidden="true">&raquo;</span>';
            if (currentPage !== totalPages) {
                nextA.onclick = (e) => {
                    e.preventDefault();
                    updateOrder(order, currentPage + 1);
                };
            }
            nextLi.appendChild(nextA);
            pagination_div.appendChild(nextLi);
        }
    </script>
{% endblock %}