{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div style="position:relative; right:15px;">
                <button type="button" onclick="updateOrder('new')">최신순</button>
                <button type="button" onclick="updateOrder('star')">평점순</button>
                <button type="button" onclick="updateOrder('view')">조회순</button>
            </div>
            <div style="position:relative; right:100px;">
                <h3 id=tagtitle style="position:relative; top:4px;"></h3>
            </div>
            <div></div>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-flex row row-cols-1 row-cols-md-4 g-4" id="game_list">
        </div>
    </div>
    <script>
        window.addEventListener("load", function() {
            updateOrder();
        });
        async function updateOrder(order='new'){
            const params = new URLSearchParams(window.location.search);
            if (order) {
                params.set('order', order);
            }
            let tagtitle_param = params.get('tag-q');
            console.log(params.toString());
            if (!tagtitle_param) {
                tagtitle_param = "전체게임";
            }
            const  tagtitle= document.getElementById('tagtitle');
            tagtitle.textContent=tagtitle_param;

            const url = '{% url 'games:game_list' %}?' + params.toString();

            const test_r = await aSend({
                url: url,
                method: 'GET',
                is_token: false
            });
            const game_list_div = document.getElementById('game_list');
            game_list_div.innerHTML = '';

            for (let row of test_r) {
                const card_div = document.createElement('div');
                card_div.setAttribute("class", "card");
                card_div.setAttribute("style", "width: 18rem;");

                const card_img = document.createElement('img');
                card_img.setAttribute("class", "card-img-top");
                card_img.setAttribute("width", "100%");
                card_img.setAttribute("height", "180");
                if (!row.thumbnail) {
                    card_img.setAttribute("src", "{% static 'image/image_cap.svg' %}");
                } else {
                    card_img.setAttribute("src", row.thumbnail);
                }

                const card_body_div = document.createElement('div');
                card_body_div.setAttribute("class", "card-body");
                // card_body_div.setAttribute("class", "card-img-overlay");

                const card_title = document.createElement('h5');
                card_title.setAttribute("class", "card-title");
                card_title.textContent = row.title;

                let star = row.star;

                if (star == null) {
                    star = "평점없음";
                }

                const card_content = document.createElement('p');
                card_content.setAttribute("class", "card-text");
                card_content.innerHTML = `maker: ${row.maker}<br>평점: ${star}`;

                card_body_div.appendChild(card_title);
                card_body_div.appendChild(card_content);
                card_div.appendChild(card_img);
                card_div.appendChild(card_body_div);
                game_list_div.appendChild(card_div);
            }
        }
    </script>
{% endblock %}