{% extends 'base_no_search.html' %}
{% load static %}

{% block content %}
    <div class='d-flex justify-content-around'>
        <form method="PUT" enctype="multipart/form-data" id="profile_edit_form">
            {% csrf_token %}
            <div class='d-flex justify-content-around'>
                <div class='d-flex flex-column me-5'>
                    <img id="user_profile_img" src="" alt="..." style="width:150px; height:auto; ">
                    <div id="image_upload_area_div" class="d-flex justify-content-center" style="display: none">
                        <label for="id_thumbnail">
                            <span class="btn btn-secondary mt-2">이미지 업로드</span>
                        </label>
                        <input type="file" name="image" accept="image/*" id="id_thumbnail" alt="..."
                               style="display: none">
                    </div>
                </div>
                <div>
                    <p id="username">닉네임:</p>
                    <div id="email_area_div" style="display: none">
                        <label for="email">이메일: </label>
                        <input id="email" name="email" type="text">
                    </div>
                </div>
            </div>
        </form>
        <div class='d-flex flex-column align-self-end'>
            <button id="edit_profile_btn" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal1" style="display: none">프로필
                수정
            </button>
            <br>
            <button id="edit_password_btn" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal2" style="display: none">비밀번호
                변경
            </button>
        </div>
    </div>

    <hr>
    <div>
        <div class='d-flex justify-content-evenly mt-1 mb-3'>
            <button id="register_game_show_btn" class="btn btn-outline-secondary btn-sm" style="display: none" onclick="switchRegisterLike(1)">내가 등록한 게임</button>
            <button id="like_game_show_btn" class="btn btn-outline-secondary btn-sm" style="display: none" onclick="switchRegisterLike(2)">내가 즐겨찾기한 게임</button>
        </div>
        <div class="container">
            <div id="user_games" style="display: block">
                <table class="table">
                    <thead>
                    <tr id="user_games_table_head">
                        <th scope="col"></th>
                        <th scope="col">게임 제목</th>
                        <th scope="col">업로드 일시</th>
                        <th scope="col">태그 목록</th>
                    </tr>
                    </thead>
                    <tbody id="user_games_table_body">
                    </tbody>
                </table>
            </div>
            <div id="user_like_games" style="display: none">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">게임 제목</th>
                        <th scope="col">제작자</th>
                        <th scope="col">업로드 일시</th>
                        <th scope="col">태그 목록</th>
                    </tr>
                    </thead>
                    <tbody id="user_like_games_table_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel1">비밀번호를 입력해주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method='PUT' id="profile_edit_password_form" onsubmit="return false">
                        {% csrf_token %}
                        <label for="password">비밀번호</label>
                        <input type="password" id='password' name='password'>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary" onclick='editProfile(event);'>확인</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">새로운 비밀번호를 입력해주세요</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method='PUT' id="password_edit_form" onsubmit="return false">
                        <label for="past_password">기존 비밀번호</label>
                        <input type="password" name="password" id="past_password">
                        <br>
                        <label for="new_password">새 비밀번호</label>
                        <input type="password" name="new_password" id="new_password">
                        <br>
                        <label for="new_password_check">새 비밀번호 확인</label>
                        <input type="password" name="new_password_check" id="new_password_check">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">나가기</button>
                    <button type="submit" class="btn btn-primary" onclick='editPassword(event);'>확인</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getPageUserId() {
            const path = window.location.pathname;
            const parts = path.split('/');
            return parseInt(parts[2]);
        }

        function switchRegisterLike(clicked_button_num) {
            const register_game_list_div = document.getElementById("user_games");
            const like_game_list_div = document.getElementById("user_like_games");
            if (clicked_button_num === 1) {
                register_game_list_div.style.display = 'block';
                like_game_list_div.style.display = 'none';
            } else {
                register_game_list_div.style.display = 'none';
                like_game_list_div.style.display = 'block';
            }
        }

        async function editProfile(event) {
            // context로 views.py에서 game_pk를 받아서 사용한다.
            const page_user_id = getPageUserId();

            event.preventDefault();  // 폼의 기본 제출 동작을 방지

            const profile_edit_form_tag = document.getElementById("profile_edit_form");
            const profile_edit_password_form_tag = document.getElementById("profile_edit_password_form");
            const form_data = new FormData(profile_edit_form_tag);
            const password_form_data = new FormData(profile_edit_password_form_tag);
            form_data.append("password", password_form_data.get("password"));

            if (!form_data.get("image").name) {
                form_data.delete("image");
            }

            const url = "{% url 'users:profile' 1 %}".replace('1', page_user_id);

            await aSend({
                url: url,
                method: 'PUT',
                is_token: true,
                body: form_data
            })

            window.location.href = "{% url 'users:profile_page' 1 %}".replace('1', page_user_id);
        }

        async function editPassword(event) {
            // context로 views.py에서 game_pk를 받아서 사용한다.
            const page_user_id = getPageUserId();

            event.preventDefault();  // 폼의 기본 제출 동작을 방지

            const password_edit_form_tag = document.getElementById("password_edit_form");
            const form_data = new FormData(password_edit_form_tag);

            const url = "{% url 'users:change_password' 1 %}".replace('1', page_user_id);

            await aSend({
                url: url,
                method: 'PUT',
                is_token: true,
                body: form_data
            })

            window.location.href = "{% url 'users:profile_page' 1 %}".replace('1', page_user_id);
        }

        window.addEventListener("load", async function pageLoad() {
            // context로 views.py에서 game_pk를 받아서 사용한다.
            const page_user_id = getPageUserId();

            const user_info_url = "{% url 'users:profile' 1 %}".replace('1', page_user_id);
            const page_user = await aSend({
                url: user_info_url,
                method: 'GET',
                is_token: false,
            });

            const user_profile_img = document.getElementById("user_profile_img");
            if (page_user.profile_image) {
                user_profile_img.src = page_user.profile_image;
            } else {
                user_profile_img.src = '{% static 'image/user.png' %}'
            }

            const username_tag = document.getElementById("username");
            const email_tag = document.getElementById("email");

            username_tag.innerText += ` ${page_user.username}`;
            email_tag.setAttribute('value', page_user.email);

            // (<username> or 내)가 등록한 게임 / 내가 즐겨찾기한 게임
            const register_game_show_btn = document.getElementById("register_game_show_btn");
            const like_game_show_btn = document.getElementById("like_game_show_btn");
            const edit_profile_btn = document.getElementById("edit_profile_btn");
            const edit_password_btn = document.getElementById("edit_password_btn");
            const image_upload_area_div = document.getElementById("image_upload_area_div");
            const email_area_div = document.getElementById("email_area_div");

            const my_games_url = "{% url 'users:my_games' 1 %}".replace('1', page_user_id);
            let is_my_page = false;

            const user = await isLogIn();
            if (user) {
                if (user.username === page_user.username) {
                    register_game_show_btn.innerText = "내가 등록한 게임";
                    register_game_show_btn.style.display = 'block';

                    like_game_show_btn.innerText = "내가 즐겨찾기한 게임";
                    like_game_show_btn.style.display = 'block';

                    edit_profile_btn.style.display = 'block';
                    edit_password_btn.style.display = 'block';
                    image_upload_area_div.style.display = "block";
                    email_area_div.style.display = "block";

                    // 내가 등록한 게임 일 경우 access token을 헤더에 포함해줘야 함
                    is_my_page = true;
                    
                    // 내가 등록한 게임 일 경우 table head에 '승인여부' column 추가
                    const user_games_table_head = document.getElementById("user_games_table_head");
                    
                    const thElement = document.createElement('th');
                    thElement.setAttribute("scope", "col");
                    thElement.innerText = "승인 여부"
                    user_games_table_head.appendChild(thElement);
                } else {
                    register_game_show_btn.innerText = `${page_user.username}가 등록한 게임`;
                    register_game_show_btn.style.display = 'block';
                }
            } else {
                register_game_show_btn.innerText = `${page_user.username}가 등록한 게임`;
                register_game_show_btn.style.display = 'block';
            }
            
            const user_games_table_body = document.getElementById("user_games_table_body");
            const page_user_games = await aSend({
                url: my_games_url,
                method: 'GET',
                is_token: is_my_page,
            })

            for (let item of page_user_games.item_list) {
                const tr_element = document.createElement('tr');
                tr_element.setAttribute("class", "align-middle");

                const game_thumbnail_element = document.createElement("img");
                game_thumbnail_element.setAttribute("width", "100");
                game_thumbnail_element.setAttribute("height", "100");
                if (!item.thumbnail) {
                    game_thumbnail_element.setAttribute("src", "{% static 'image/image_cap.svg' %}");
                } else {
                    game_thumbnail_element.setAttribute("src", item.thumbnail);
                }
                game_thumbnail_element.setAttribute("alt", "...");

                const game_title_element = document.createElement("a");
                game_title_element.setAttribute("href", '{% url 'games:game_detail_page' 1 %}'.replace('1', item.game_pk));
                const game_title_text_element = document.createElement("span");
                game_title_text_element.innerText = item.title;
                game_title_element.appendChild(game_title_text_element);

                const game_upload_dt_element = document.createElement("span");
                game_upload_dt_element.innerText = `${formatTime(item.created_at)}`;

                const game_tags_element = document.createElement("span");
                game_tags_element.innerText = `태그: ${item.tag_list.join(", ")}`;
                
                let td_element = document.createElement('td');
                td_element.appendChild(game_thumbnail_element);
                tr_element.appendChild(td_element);
                
                td_element = document.createElement('td');
                td_element.appendChild(game_title_element);
                tr_element.appendChild(td_element);
                
                td_element = document.createElement('td');
                td_element.appendChild(game_upload_dt_element);
                tr_element.appendChild(td_element);
                
                td_element = document.createElement('td');
                td_element.appendChild(game_tags_element);
                tr_element.appendChild(td_element);

                // 내가 등록한 게임을 확인할 경우 등록 상태 확인
                if (is_my_page) {
                    const gameRegisterStateElement = document.createElement("span");
                    if (item.register_state === 0) {
                        gameRegisterStateElement.innerText = "대기 중";
                        gameRegisterStateElement.setAttribute("style", "color:gray;");
                    } else if (item.register_state === 1) {
                        gameRegisterStateElement.innerText = "승인";
                        gameRegisterStateElement.setAttribute("style", "color:green;");
                    } else {
                        gameRegisterStateElement.innerText = "거부";
                        gameRegisterStateElement.setAttribute("style", "color:red;");
                    }
                    
                    td_element = document.createElement('td');
                    td_element.appendChild(gameRegisterStateElement);
                    tr_element.appendChild(td_element);
                }
                
                user_games_table_body.appendChild(tr_element);
            }

            // 내가 즐겨찾기한 게임
            if (is_my_page) {
                const user_like_games_table_body = document.getElementById("user_like_games_table_body");
                
                const my_like_games_url = "{% url 'users:like_games' 1 %}".replace('1', page_user_id);
                const page_user_like_games = await aSend({
                    url: my_like_games_url,
                    method: 'GET',
                    is_token: false,
                })

                for (let item of page_user_like_games.item_list) {
                    const tr_element = document.createElement('tr');
                    tr_element.setAttribute("class", "align-middle");

                    const game_thumbnail_element = document.createElement("img");
                    game_thumbnail_element.setAttribute("width", "100");
                    game_thumbnail_element.setAttribute("height", "100");
                    if (!item.thumbnail) {
                        game_thumbnail_element.setAttribute("src", "{% static 'image/image_cap.svg' %}");
                    } else {
                        game_thumbnail_element.setAttribute("src", item.thumbnail);
                    }
                    game_thumbnail_element.setAttribute("alt", "...");
                    
                    const game_title_element = document.createElement("a");
                    game_title_element.setAttribute("href", '{% url 'games:game_detail_page' 1 %}'.replace('1', item.game_pk));
                    const game_title_text_element = document.createElement("span");
                    game_title_text_element.innerText = item.title;
                    game_title_element.appendChild(game_title_text_element);
                    
                    const game_uploader_element = document.createElement("a");
                    game_uploader_element.setAttribute("href", '{% url 'users:profile_page' 1 %}'.replace('1', item.maker_info.pk));
                    const game_uploader_text_element = document.createElement("span");
                    game_uploader_text_element.innerText = item.maker_info.name;
                    game_uploader_element.appendChild(game_uploader_text_element);
                    
                    const game_upload_dt_element = document.createElement("span");
                    game_upload_dt_element.innerText = `${formatTime(item.created_at)}`;

                    const game_tags_element = document.createElement("span");
                    game_tags_element.innerText = `태그: ${item.tag_list.join(", ")}`;

                    let td_element = document.createElement('td');
                    td_element.appendChild(game_thumbnail_element);
                    tr_element.appendChild(td_element);
                    
                    td_element = document.createElement('td');
                    td_element.appendChild(game_title_element);
                    tr_element.appendChild(td_element);
                    
                    td_element = document.createElement('td');
                    td_element.appendChild(game_uploader_element);
                    tr_element.appendChild(td_element);
                    
                    td_element = document.createElement('td');
                    td_element.appendChild(game_upload_dt_element);
                    tr_element.appendChild(td_element);
                    
                    td_element = document.createElement('td');
                    td_element.appendChild(game_tags_element);
                    tr_element.appendChild(td_element);

                    user_like_games_table_body.appendChild(tr_element);
                }
            }
        });
    </script>
{% endblock content %}