{% extends "base_no_search.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <p id="detail_category"></p>
        </div>
        <div>
            <a id="updatebtn" class="btn btn-secondary">수정</a>
            <button type="button" class="btn btn-danger" onclick="deleteQnA()">삭제</button>
        </div>
    </div>

    <h1 id="detail_title"></h1>
    <hr>
    <pre id="detail_content"></pre>
</div>
<script>
    function getQnaId(){
        const path=window.location.pathname;
        const parts =path.split('/');
        return parseInt(parts[2]);
    }

    window.addEventListener("load", async function PageLoad() {
        const qna_pk=getQnaId();
        const url_qna = '{% url 'qnas:qna_detail' qna_pk %}';
        const qna_data = await aSend({
            url: url_qna,
            method: 'GET',
            is_token: false
        });

        const category_url='{% url 'qnas:category_list' %}';
        const category_response = await aSend({
            url: category_url,
            method: 'GET',
            is_token: false,
        });
        
        let category_list = {}
        category_response.forEach(c=>{
            category_list[c.code]=c.name;
        });

        const qna_category_p = document.getElementById('detail_category');
        qna_category_p.textContent=category_list[qna_data.category];

        const qna_title_h1 = document.getElementById('detail_title');
        qna_title_h1.textContent=qna_data.title;

        const qna_content_pre = document.getElementById('detail_content');
        qna_content_pre.textContent=qna_data.content;

        const qna_update_btn = document.getElementById('updatebtn');
        qna_update_btn.setAttribute('href',`{% url 'qnas:qna_update' qna_pk %}`);
    });

    async function deleteQnA(){
        const qna_pk=getQnaId();
        const url_qna = '{% url 'qnas:qna_detail' qna_pk %}';
        await aSend({
            url: url_qna,
            method: 'DELETE',
            is_token: true
        });
        window.location.href = '{% url 'qnas:qna_main' %}';
    }
</script>
{% endblock %}