{% extends "base_no_search.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div style="position:relative; top:10px">
            <form action="javascript:qna_search();" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 pl-0" role="search">
                <div class="d-flex align-items-center">
                    <select class="btn btn-secondary dropdown-toggle text-left me-1" type="button" aria-expanded="false"
                            aria-label="Default select example" id="qna_search_option">
                    </select>
                    <input type="search" class="form-control" placeholder="키워드 검색하시오." aria-label="QnA_Search" id="qna_search_input">
                </div>
            </form>
        </div>
        <div id="createBtnDiv"></div>
    </div>
    <br>
        
    <table class="table">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">카테고리</th>
        </tr>
        </thead>
        <tbody id="qnalist"></tbody>
    </table>
</div>
<script>
    window.addEventListener("load", async function pageLoad() {
        const user = await isLogIn();
        if (user){
            if (user.is_staff){
                const create_btn_div = document.getElementById('createBtnDiv');
                create_btn_div.innerHTML = `<a class="btn btn-secondary" href={% url 'qnas:qna_create' %} aria-expanded="false">생성</a>`;
            }
        }
        const params = new URLSearchParams(decodeURIComponent(window.location.search));

        const url_qnas_list_all = '{% url 'qnas:qna_list' %}?'+ params.toString();

        const qna_list = await aSend({
            url: url_qnas_list_all,
            method: 'GET',
            is_token: false
        });

        const category_url='{% url 'qnas:category_list' %}';
        const category_response = await aSend({
            url: category_url,
            method: 'GET',
            is_token: false,
        });

        const qna_option_list = document.getElementById('qna_search_option');
        qna_option_list.innerHTML = `<option selected value="">전체 카테고리</option>`;

        let category_list = {}
        category_response.forEach(c=>{
            category_list[c.code]=c.name;
            const opt= document.createElement('option');
            opt.value=c.code;
            opt.innerHTML=c.name;
            qna_option_list.appendChild(opt);
        });

        const qna_list_tbody = document.getElementById('qnalist');
        qna_list_tbody.innerHTML = '';
        qna_list.forEach(row => {
            const qna_tr = document.createElement('tr');
            qna_tr.setAttribute("class", "align-middle");

            const qna_th = document.createElement('th');
            qna_th.setAttribute("scope", "row");
            qna_th.textContent = row.id;

            const qna_title_td = document.createElement('td');
            const qna_a = document.createElement('a');
            qna_a.setAttribute("href", '{% url 'qnas:qna_detail_page' 1 %}'.replace('1', row.id));
            qna_a.setAttribute("class", "btn");
            qna_a.setAttribute('style', "padding:0; outline:none; border:none;");
            qna_a.textContent = row.title;
            qna_title_td.appendChild(qna_a);

            const qna_category_td = document.createElement('td');
            qna_category_td.textContent = category_list[row.category];

            qna_tr.appendChild(qna_th);
            qna_tr.appendChild(qna_title_td);
            qna_tr.appendChild(qna_category_td);
            qna_list_tbody.appendChild(qna_tr);
        });

        const selected_category = params.get('category');
        if (selected_category) {
            qna_option_list.value = selected_category;
        }
    });

    function qna_search() {
        let search_option_qna = document.getElementById('qna_search_option');
        let search_input_qna = document.getElementById('qna_search_input');
        const searchParams = new URLSearchParams();
        if (search_option_qna.value) {
            searchParams.set('category', search_option_qna.value);
        }
        if (search_input_qna.value) {
            searchParams.set('qna-q', search_input_qna.value);
        }
        window.location.href = "{% url 'qnas:qna_main' %}?" + searchParams.toString();
    }
</script>
{% endblock %}