{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Sparta Games</title>
    {% block css_block %}
    {% endblock css_block %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="{% static 'image/gaming.png' %}" alt="" width='32'>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a></li>
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Customers</a></li>
                    <li><a href="{% url "qnas:qna_main" %}" class="nav-link px-2 link-body-emphasis">QnA</a></li>
                </ul>
            </div>
            <div class="d-flex">
                <form action="javascript:search();" method="GET" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 pl-0"
                      role="search">
                    <div class="d-flex">
                        <select class="btn btn-secondary dropdown-toggle text-left" type="button" aria-expanded="false"
                                aria-label="Default select example" id="search_option">
                            <option selected value="">검색 옵션</option>
                            <option value="tag-q">태그</option>
                            <option value="game-q">게임</option>
                            <option value="maker-q">작성자</option>
                            <option value="gm-q">게임+작성자</option>
                        </select>
                        <input type="search" class="form-control" placeholder="검색" aria-label="Search"
                               id="search_input">
                    </div>
                </form>

                <a id='game_publish_btn' style='display:none;' class="pt-1" href={% url 'games:game_create_test_page' %} aria-expanded="false">
                    <img src="{% static 'image/game-publishing.png' %}" alt="" width="32">
                </a>
                <div id="navbar_login_userinfo" style="display: none; align-content: center">
                    <a id='navbar_userimage_anchor' class="pt-1" href="#" aria-expanded="false">
                        <img src="" alt="mdo" width="32" height="32" class="rounded-circle" id='userimage'>
                    </a>
                    <span id="navbar_login_userinfo_username"></span>
                    <a id="navbar_login_userinfo_adminpage" style="display: none" href={% url "games:admin_list" %}></a>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="logout()">로그아웃</button>
                </div>
                <div id="navbar_logout_userinfo" style="display: none; align-content: center">
                    <a class="btn btn-primary btn-sm" href={% url 'accounts:login_page' %}>로그인</a>
                    <a class="btn btn-info btn-sm" href={% url 'accounts:signup_page' %}>회원가입</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<!-- Modal -->
<div class="modal fade" id="baseModal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="baseModalLabel">로그인이 필요한 기능입니다.</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <span>로그인 해주세요</span>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href='{% url 'accounts:login_page' %}'>로그인페이지로 이동</a>
      </div>
    </div>
  </div>
</div>
<script>
    async function tokenRefresh() {
        const refresh = localStorage.getItem('refresh_token');
        const response = await fetch('{% url 'accounts:refresh_token' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                refresh
            })
        });

        const data = await response.json();
        if (response.ok) {
            localStorage.setItem('access_token', data.access);
            localStorage.setItem('refresh_token', data.refresh);
        } else {
            alert('로그인 정보가 없습니다. 로그인 페이지로 이동합니다.');
            window.location.href = "{% url 'accounts:login_page' %}";
        }
    }

    async function logout() {
        const refresh = localStorage.getItem('refresh_token');
        const response = await fetch('{% url 'accounts:logout' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                refresh
            })
        });

        if (response.ok) {
            localStorage.removeItem('access_token');
            localStorage.removeItem('refresh_token');
            localStorage.removeItem('username');
            window.location.href = "{% url 'test_main_view' %}";
        } else {
            alert('로그인 정보가 없습니다. 로그인 페이지로 이동합니다.');
            window.location.href = "{% url 'accounts:login_page' %}";
        }
    }

    async function aSend({url, method, is_token, body = null}) {
        const headers = {};

        if (is_token) {
            await tokenRefresh();
            const access = localStorage.getItem('access_token');
            headers['Authorization'] = `Bearer ${access}`
        }

        const data = {
            method: method,
            headers: headers,
        }

        if (body) {
            data["body"] = body
        }

        const response = await fetch(`${url}`, data);

        return response.json();
    }

    function formatTime(isoString) {
        // Parse the ISO string to a Date object
        const date = new Date(isoString);

        // Extract components
        let year = date.getFullYear();
        let month = (date.getMonth() + 1).toString().padStart(2, '0');  // +1 because months start from 0
        let day = date.getDate().toString().padStart(2, '0');
        let hours = date.getHours().toString().padStart(2, '0');
        let minutes = date.getMinutes().toString().padStart(2, '0');

        // Format to 'YYYY-MM-DD HH:MM'
        return `${year}-${month}-${day} ${hours}:${minutes}`;
    }

    function setModal(elementId) {
        const target = document.getElementById(elementId);
        target.setAttribute("data-bs-toggle", "modal");
        target.setAttribute("data-bs-target", "#exampleModal");
        target.removeAttribute("onclick");
    }

    function search() {
        let search_option_tag = document.getElementById('search_option');
        let search_input_tag = document.getElementById('search_input');

        if (!search_option_tag.value) {
            window.location.href = "{% url 'test_search_view' %}";
        } else {
            window.location.href = "{% url 'test_search_view' %}" + `?${search_option_tag.value}=${search_input_tag.value}`;
        }
    }

    async function navbar() {
        const user = await isLogIn();
        const navbar_login_userinfo = document.getElementById('navbar_login_userinfo');
        const navbar_logout_userinfo = document.getElementById('navbar_logout_userinfo');
        const navbar_login_userinfo_username = document.getElementById("navbar_login_userinfo_username");
        // const navbar_login_userinfo_adminpage = document.getElementById("navbar_login_userinfo_adminpage");
        const navbar_login_userinfo_userimage = document.getElementById("userimage")
        const navbar_userimage_anchor = document.getElementById("navbar_userimage_anchor")
        const game_publish_btn = document.getElementById("game_publish_btn")

        if (user) {
            navbar_login_userinfo.style.display = 'block';
            navbar_login_userinfo_username.innerText = user.username;
            navbar_userimage_anchor.href = `{% url 'users:profile_page' 1 %}`.replace('1', user.user_pk);
            game_publish_btn.style.display = 'block';
            if (user.profile_image) {
                navbar_login_userinfo_userimage.src = user.profile_image;
            } else {
                navbar_login_userinfo_userimage.src = '{% static 'image/user.png' %}'
            }
            navbar_logout_userinfo.style.display = 'none';
            // permission / payload 확인 후 관리자인 경우 navbar_login_userinfo_adminpage display block
            // 관리자가 아니라면 navbar_login_userinfo_adminpage display none
        } else {
            navbar_login_userinfo.style.display = 'none';
            navbar_logout_userinfo.style.display = 'block';
        }
    }

    async function isLogIn() {
        const access = localStorage.getItem('access_token');
        if (access) {
            const token_verify_resp = await fetch('{% url 'accounts:verify' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ token: access }),
            });

            if (token_verify_resp.ok) {
                const base64Payload = access.split('.')[1];
                const base64 = base64Payload.replace(/-/g, '+').replace(/_/g, '/');
                const decodedJWT = JSON.parse(
                    decodeURIComponent(
                        window
                            .atob(base64)
                            .split('')
                            .map(function (c) {
                                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                            })
                            .join('')
                    )
                );
                const url = "{% url 'users:profile' 1 %}".replace('1', decodedJWT.user_id);

                return await aSend({
                    url: url,
                    method: 'GET',
                    is_token: false,
                });
            } else {
                await tokenRefresh();
            }
        }
        return null;
    }

    window.addEventListener("load", navbar());
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>