<div class="d-flex">
    <div class="collapse" id="side">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
                <span class="fs-2">태그 목록</span>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto" id="tags_list">
                <li class="nav-item fs-4">
                <a href="{% url "test_search_view" %}" class="nav-link link-body-emphasis">
                    전체보기
                </a>
                </li>
            </ul>
            </div>
    </div>
    <div class="main-content container" id="mainContent">
        <div style="position:relative; right:15px">
            <nav class="navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#side" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>